<h2>My Heroes</h2>

<!--
<div *ngIf="selectedHero">
  <div><span>name: </span>{{ selectedHero.name | uppercase }}</div>
  <div><span>id: </span>{{ selectedHero.id }}</div>
  <div>
    <label>edit name:
      <input [(ngModel)]="selectedHero.name" placeholder="name"/>
    </label>
  </div>
</div>

<p></p>
-->

<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <a routerLink="/detail/{{hero.id}}">
      <span class="badge">{{hero.id}}</span> {{hero.name}}
    </a>
  </li>
</ul>

<!--
<p></p>

<app-hero-detail [hero]="selectedHero"></app-hero-detail>
-->